@import url(https://fonts.googleapis.com/css?family=Lato:100,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
@font-face {
    font-family: "Lucida Handwriting";
    src: url("../font/Lucida.ttf");
}
@font-face {
    font-family: "Baskerville Old Face";
    src: url("../font/BASKVILL.ttf");
}
@font-face {
    font-family: "Baskerville Old Face";
    src: url("../font/HTOWERT.ttf");
}
@font-face {
    font-family: "SimSun";
    src: url("../font/SimSun.ttf");
}

body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background: #1e1e1e;
    top:0 ;
    z-index: 1;

}

p {
    font-family: 'open-sans', sans-serif;
    color: rgba(26, 26, 26, .6);
}

h1 {
    color: white;
    text-align: center;
}


body{
    font-family: 'Noto Sans', sans-serif;
    margin:0;
    width:100%;
    height:100vh;
    background:#ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
header{
    width:100%;
    background:#ffffff;
    height:60px;
    line-height:60px;
    border-bottom:1px solid #dddddd;
}



.hamburger .line{
    width: 50px;
    height: 5px;
    background-color: forestgreen;
    display: block;
    margin: 8px auto;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover{
    cursor: pointer;
}



.hamburger{
    background:none;
    position:fixed;
    top:0;
    right:2%;
    line-height:45px;
    padding:5px 15px 0px 15px;
    color:#EDEEEF;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
}

#hamburger.is-active{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#hamburger.is-active .line:nth-child(2){
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

#hamburger .line:nth-child(2){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}


#hamburger.is-active .line:nth-child(2){
    opacity: 0;
}

#hamburger.is-active .line:nth-child(1),
#hamburger.is-active .line:nth-child(3){
    width: 35px;
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    -ms-transform-origin: right;
    -o-transform-origin: right;
    transform-origin: right;
}

#hamburger.is-active .line:nth-child(1){
    -webkit-transform: translateY(15px) rotate(45deg);
    -ms-transform: translateY(15px) rotate(45deg);
    -o-transform: translateY(15px) rotate(45deg);
    transform: translateY(15px) rotate(45deg);
}

#hamburger.is-active .line:nth-child(3){
    -webkit-transform: translateY(-15px) rotate(-45deg);
    -ms-transform: translateY(-15px) rotate(-45deg);
    -o-transform: translateY(-15px) rotate(-45deg);
    transform: translateY(-15px) rotate(-45deg);
}



.menu{z-index:1000000; font-weight:bold; top:55px; right:0px; width:15%; background:rgb(255, 255, 255) transparent;  position:fixed; text-align:center; font-size:18px; font-family:monospace,sans-serif;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px outset; border-left:#dddddd 1px inset;  border-top:#dddddd 1px inset; color:forestgreen; }
.menu li:hover{display: block;    background:transparent; padding:15px 0 15px 0; border:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:darkseagreen;}
.menu ul li a:hover {  color: darkseagreen;text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}

.glyphicon-home{
    color:white;
    font-size:1.5em;
    margin-top:5px;
    margin:0 auto;
}




.wowWrap div:nth-child(1) {
    display:block;
    width:100%;
    margin:0px 0;
    text-align:center;
    font-family: "Lucida Handwriting",sans-serif;


}

.wowWrap div:nth-child(2) {
    display:block;
    width:100%;
    margin:0 0;
    text-align:center;

}
.wowWrap div:nth-child(3) {
    display:block;
    width:100%;
    margin: 0;
    text-align:center;

}


.wowWrap div:nth-child(4) {
    display:block;
    width:100%;
    margin:0 0;
    text-align:center;

}

.wowWrap {
    width:30%;
    z-index: 10;
    float:left;
    font-size: 2em;
    padding: 0 0;
    text-align:center;
    font-family: "Lucida Handwriting",sans-serif;
    font-style: oblique;
}


.text img{

    font-family: "High Tower Text",sans-serif;
    color: white;
    font-size: 32px;
    top:10px;
    left:15px;
    position: absolute;


}

.sidenav

{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 100%;
    background: rgba(30, 30, 30, 0.5);
    left:0;
    float:left;
    overflow: hidden;
    text-align:right ;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav:after {

    position:absolute;
    left: 20px;

}
.sidenav img {

    left :20px;
    position: absolute;

}

.sidenav a {
    padding: 10px 6px 10px 40px;
    text-decoration: none;
    font-size: 25px;
    left: 0px;
    margin:0px 0px 2px 0px;
    color: #FFFFFF;
    display: block;
    box-shadow: 0px 0px 9px 4px black;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 5px;
    right: 0px;
    font-size: 25px !important;
}
.btn {
    opacity :1;
    transition: all ease 0.5s;
    font-size:30px;
    cursor:pointer;
    left:20px;
    top:0px;
    position:relative;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.bar {
    display: block;
    width: 32px;
    height: 1px;
    margin-top: 7.5px;
    background: #EDEEEF;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.bar.middle {
    top: 10px;
    opacity: 1;
}

.bar.bottom {
    top: 20px;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
}

.menu-btn__text {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    -webkit-transition: all .5s;
    transition: all .5s;
    display: block;
    visibility: visible;
    opacity: 1;
}

.close-menu {
    position: fixed;
    top: 0;
    right: 250px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .157s;
    transition-duration: .157s;
    visibility: hidden;
    z-index: 99;
}

#pc-bg-photo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    display: block;
    width: 100%;
    min-height: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
}
.smoke {
    position: fixed;
    top: -10%;
    left: -10%;
    -webkit-transform: translate3d(0, 0, 0) rotate(0.3deg);
    transform: translate3d(0, 0, 0) rotate(0.4deg);
    width: 110%;
    height: 105%;
    background: url("../graphic/smoke2.png") center center no-repeat;
    background-size: cover;
    z-index: 0;
    opacity: .5;
    -webkit-animation: smoke 60s infinite alternate;
    animation: smoke 60s infinite alternate;
}
@-webkit-keyframes smoke {
    25% {
        -webkit-transform: translate3d(100px, 0, 0) rotate(0.2deg);
        transform: translate3d(100px, 0, 0) rotate(0.2deg);
    }
    50% {
        -webkit-transform: translate3d(75px, -25px, 0) rotate(0.2deg);
        transform: translate3d(75px, -25px, 0) rotate(0.2deg);
    }
    75% {
        -webkit-transform: translate3d(45px, 30px, 0) rotate(0.2deg);
        transform: translate3d(45px, 30px, 0) rotate(0.2deg);
    }
    100% {
        -webkit-transform: translate3d(25px, -15px, 0) rotate(0.2deg);
        transform: translate3d(25px, -15px, 0) rotate(0.2deg);
    }
}
@keyframes smoke {
    25% {
        -webkit-transform: translate3d(100px, 0, 0) rotate(0.2deg);
        transform: translate3d(100px, 0, 0) rotate(0.2deg);
    }
    50% {
        -webkit-transform: translate3d(75px, -25px, 0) rotate(0.2deg);
        transform: translate3d(75px, -25px, 0) rotate(0.2deg);
    }
    75% {
        -webkit-transform: translate3d(45px, 30px, 0) rotate(0.2deg);
        transform: translate3d(45px, 30px, 0) rotate(0.2deg);
    }
    100% {
        -webkit-transform: translate3d(25px, -15px, 0) rotate(0.2deg);
        transform: translate3d(25px, -15px, 0) rotate(0.2deg);
    }
}
#header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 50%;
    position: relative;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    top:-45px;
}

#header svg {
    width: 25px;
    height: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    opacity: .7;
    margin: 0 auto;
}

#header .divider {
    width: 50%;
    margin-top: 0;
    padding-top: 0;
}



#mobile-hero {
    display: block;
    width: 90%;
    font-size: 1.2em;

    color: #EDEEEF;
    text-align: center;
    padding: 0;
    text-transform: none;
    margin: 0 5%;
    letter-spacing: .8px;
    font-weight: 300;
    font-family: "Baskerville Old Face",sans-serif;
}

#quote {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #1e1e1e;
    color: #edeeef;
    text-align: center;
    position: relative;
    top:0px;
    z-index: 5;
    box-shadow: 0px 0px 15px 15px #1e1e1e;

}

#quote h2 {
    width: 80%;
    padding-top: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    font-family:SimSun,sans-serif;
    font-weight: 300;
}

#quote p {
    padding-bottom: 45px;
    font-weight: 300;
    color: #edeeef;
    font-family:SimSun,sans-serif;
}

#about-me {
    background: #edeeef;
    display: -webkit-box;
    display: -webkit-flex;

    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 20px 15px #1e1e1e;
}

#about-me h2 {
    padding-top: 80px;
    text-align: center;
    font-family: monospace;
}

#about-me p {
    width: 85%;
    text-align: center;
    padding-bottom: 50px;
    font-size: 18px;
    font-family: monospace;
}

#about-me img {
    width: 100%;
    padding-bottom: 0px;
    display: flex;
}


#specialties {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #1e1e1e;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 5;
    outline-style: auto;
    width: 100%;
    box-shadow: 0px 0px 9px 4px #1e1e1e;
}

#specialties h2 {
    padding-top: 15px;
    text-align: center;
    padding-bottom: 20px;
    color: white;
    font-family: initial,sans-serif;
}


#service-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #1e1e1e;
    padding-top: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 0px;
    flex-direction: column;
    z-index: 5;
    position: relative;
    box-shadow: 0px -14px 15px 5px #1e1e1e;
    font-family: "Baskerville Old Face",sans-serif;
}

#service-title h2 {
    text-align: center;
    padding-bottom: 0px;
    color:white;
    font-family: "Baskerville Old Face",sans-serif;
}

#service-title svg {
    width: 70%;
    opacity: 1;
    margin-bottom: 32px;
}

#service-title svg .cls-1 {
    fill: #FFFFFF;
}



#web-writing, #ui-photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 350px;
}

#web, #write, #ui, #photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#web-writing img {
    width: 72px;
}

#ui-photo img {
    width: 72px;
}

#services div p {
    text-align: center;
    margin-bottom: 60px;
    font-family: "Baskerville Old Face",sans-serif;
    color:white;
}


#skills {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #1e1e1e;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    height: auto;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0px 0px 15px 15px #1e1e1e;
}


#contact {
    width: 100%;
    background: #edeeef;
    margin: 0;
    padding-bottom: 0;
    display: inline-block;
    font-family: "Lucida Handwriting",sans-serif;
    z-index: 1;
    position: relative;
    box-shadow: 0px 0px 25px 10px white;

}

#contact h1 {
    padding: 15% 0 2% 6%;
    text-align: left;
    display: block;
    color: #2d2d2d;
    font-size: 1.67em;
    font-family: "Lucida Handwriting",sans-serif;
    font-weight: 300;
}

#contact input {
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #FFFFFF;
    font-family: "Lucida Handwriting",sans-serif;
    font-size: 1.5vh;
    box-shadow: 1px 1px 2px 1px;
}

#contact label {
    padding-left: 0%;
    padding-bottom: 2%;
    display: block;
    text-align: left;
    color: rgba(5, 5, 5, 1.6);
    font-family: "Lucida Handwriting",sans-serif;
}

#name {
    padding-top: 10%;
    padding-left: 8%;
    width: 90%;
    display: block;
    padding-bottom: 5%;
    font-size:22px;
    font-family: "Lucida Handwriting",sans-serif;
}

#email {
    padding-bottom: 5%;
    padding-left: 8%;
    display: block;
    font-family: "Lucida Handwriting",sans-serif;

}

#subject {
    padding-bottom: 5%;
    padding-left: 8%;
    display: block;
    font-family: "Lucida Handwriting",sans-serif;
}

#message label {
    padding-left: 8%;
    display: block;
    font-family: "Lucida Handwriting",sans-serif;
}
textarea {

    font-family: "Lucida Handwriting",sans-serif;
    box-shadow: 1px 1px 2px 1px;
    border-radius: 10px;
    margin-left: 8%;
    width: 73%;
    font-size: 1em;
    height: 150px;
    display: block;
    border: 1px solid #ccc;
    background: #fafafa;
    resize:none;
    overflow:hidden;


}


#contact input:focus{

    background-color: lightblue;

}
textarea:focus{

    background-color: lightblue;

}

#submit input[type=submit] {
    display: block;
    margin: auto;
    color: #fff;
    background: #2d2d2d;
    border: 0px;
    padding: 1% 3%;
    letter-spacing: 0.1em;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    border: 0.5px solid #2d2d2d;
    cursor: pointer;
}

#submit input[type=submit]:hover {
    background: #fff;
    color: #2d2d2d;
    border: .5px solid #2d2d2d;

}

#submit {
    padding-bottom: 10%;
    margin-top: 10%;
}


.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
#desk-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 55px;
    top: 0;
    background: #1e1e1e;
    position: fixed;
    z-index: 99;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "High Tower Text",sans-serif;
}

#footer-media {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #1e1e1e;
    position: relative;
    z-index: 1;
    box-shadow: 0px -12px 20px 10px #1e1e1e;
}

#footer-media img {
    width: 25px;
    margin: 30px 0px 15px 0px;
}

#footer-media a {
    margin: 0 6px;
}

footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #1e1e1e;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #6c6c6c;
    font-size: .8em;
    margin-bottom: 0px;
    z-index: 10;
    position: relative;
}

footer p {
    color: #6c6c6c;
}

#con-bottom {
    display: block;
    width: 49%;
    height: 72%;
    top:13.9%;
    background-image: url("../graphic/work.jpg");
    position: absolute;
    background-size: cover;
    background-repeat: round;
}


@media screen and (max-width: 1100px){



    .smoke {
        position: fixed;
        top: 0;
        left: -30%;
        -webkit-transform: translate3d(0, 0, 0) rotate(0.01deg);
        transform: translate3d(0, 0, 0) rotate(0.01deg);
        width: 300%;
        height: 105%;
        background: url("../graphic/smoke2.png") center center no-repeat;
        background-size: cover;
        z-index: 0;
        opacity: .5;
        -webkit-animation: smoke 120s infinite alternate;
        animation: smoke 120s infinite alternate;
    }
    .hamburger .line{
        width: 50px;
        height: 5px;
        background-color:  	#ccae1d;
        display: block;
        margin: 8px auto;
        border-radius: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .hamburger:hover{
        cursor: pointer;
    }



    .hamburger{
        background:none;
        position:fixed;
        top:0;
        right:2%;
        line-height:45px;
        padding:5px 15px 0px 15px;
        color:#EDEEEF;
        border:0;
        font-size:1.4em;
        font-weight:bold;
        cursor:pointer;
        outline:none;
        z-index:10000000000000;
    }



    .menu{z-index:1000000; font-weight:bold; top:55px; right:0px; opacity:0.7;width:15%; background:black;  position:fixed; text-align:center; font-size:18px; font-family:"Baskerville Old Face",sans-serif; padding:0px 0px 0px 50px;}
    .menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
    .menu li {display: block; margin: 0px 0px 0px -50px;  padding:15px 0 15px 0; border-bottom:#dddddd 1px outset; border-left:#dddddd 1px inset;  border-top:#dddddd 1px inset; color:white; }
    .menu li:hover{display: block;    background:#1e1e1e; padding:15px 0 15px 0; border:#dddddd 1px solid;}
    .menu ul li a { text-decoration:none;  margin: 0px; color:darkseagreen;}
    .menu ul li a:hover {  color: darkseagreen;text-decoration:none;}
    .menu a{text-decoration:none; color:white;}
    .menu a:hover{text-decoration:none; color:white;}

    .glyphicon-home{
        color:white;
        font-size:1.5em;
        margin-top:5px;
        margin:0 auto;
    }

 #desk-nav {

     display: none;
 }


    #contact label {
        padding-left: 3%;
        padding-bottom: 2%;
        display: block;
        text-align: left;
        font-size: 22px;
        color: rgba(5, 5, 5, 1.6);
        font-family: "Lucida Handwriting",sans-serif;
    }

    #message label {
        padding-left: 11%;
        display: block;
        font-size: 22px;
        font-family: "Lucida Handwriting",sans-serif;
    }
    #email label {

 font-size: 22px;

    }

  #message ::placeholder{

      padding: 60px 50px 50px 65px;

  }

    textarea  {

        font-family: "Lucida Handwriting",sans-serif;
        box-shadow: 1px 1px 2px 1px;
        border-radius: 10px;
        margin-left: 12%;
        width: 73%;
        font-size: 1.5em;
        height: 150px;
        display: block;
        border: 1px solid #ccc;
        background: #fafafa;
        resize:none;
        overflow:hidden;
    }
    #write p{

      margin: 24px 0px 0px 5px;


    }


    #con-left h1 {


        font-family: "Baskerville Old Face",sans-serif;

    }

    #contact h1 {

        font-size: 1.67em;
        padding-top: 5%;
        padding-left: 0;
        font-family: "Lucida Handwriting",sans-serif;
        text-align: center;


    }

    #contact input {
        border-radius: 5px;
        border: 1px solid #ccc;
        background: #FFFFFF;
        font-family: "Lucida Handwriting",sans-serif;
        font-size: 3.5vh;
        box-shadow: 1px 1px 2px 1px;
        text-align: center;
        padding: 15px 5px 15px 0px;
        margin-left: 4%;
    }

    #portfolio:hover .image {
        opacity: 0.3;
    }

    #portfolio:hover .middle {
        opacity: 1;
    }


    .text{

        font-family: "Lucida Handwriting",sans-serif;
        color: #FFD700;
        font-size: 20px;
        position: absolute;
    }
    .middle {
        transition: .5s ease;
        opacity: 1;
        top: 37%;
        left: 20%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        position: absolute;
    }

    .wowWrap{
        width: 70%;
        z-index: 10;
        font-size: 1em;
        text-align:center;
        font-family: "Baskerville Old Face",sans-serif;

    }
    #quote h2 {
        width: 100%;
        font-weight: 700;
        font-size: 1.67em;
        font-family:"SimSun",sans-serif;
        opacity: .9;
    }

    #mobile-hero {

        font-weight: lighter;
        font-family: "Baskerville Old Face",sans-serif;
        color: #edeeef;
        font-size: x-large;

    }
    #service-title h2 {
        text-align: center;
        color:white;
        font-family: "Baskerville Old Face",sans-serif;
    }
    #skills {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background: #1e1e1e;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-bottom: 20px;
        padding-top: 20px;
        height: auto;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 15px 15px #1e1e1e;
    }

    #specialties {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background: #1e1e1e;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        z-index: 5;
        width: 100%;
        box-shadow: 0px 0px 9px 4px #1e1e1e;
    }

    .sidenav a {
        padding: 0px 2px 0px 0px;
        text-decoration: none;
        font-size: 25px;
        left: 0px;
        margin:0px 0px 2px 0px;
        color: #FFFFFF;
        display: block;
        box-shadow: 0px 0px 9px 4px black;
        transition: 0.3s
    }



    #port-res {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: #edeeef;
        padding: 40px 0px;
        z-index: 3;
        position: relative;
        box-shadow: 0px 0px 30px 15px #1e1e1e;
    }


    }

    .photobox.left img {
        width:60%;
        height: 40vh;
        display: flex;
        margin:auto;
outline-style: double;
        outline-color: lightgray;
        -webkit-transition: all .3s ;
        -moz-transition: all .3s ;
        -ms-transition: all .3s ;
        -o-transition: all .3s ;
        transition: all .3s ;
        border-style: outset;
        border-color: white;
        border-width: 15px 15px 15px 15px;
        -moz-border-image: url(../graphic/flourish.png) 57 52 61 53 stretch;
        -webkit-border-image: url(../graphic/flourish.png) 57 52 61 53 stretch;
        -o-border-image: url(../graphic/flourish.png) 57 52 61 53 stretch;
        border-image: url(../graphic/flourish.png) 57 52 61 53 fill stretch;


        position: relative;
    }

    .photobox.right img {
        width:60%;
        height: 50%;
        display: flex;
        outline-style: double;
        outline-color: darkgray;
        margin:auto;
        -webkit-transition: all .3s ;
        -moz-transition: all .3s ;
        -ms-transition: all .3s ;
        -o-transition: all .3s ;
        transition: all .3s ;
        border-style: outset;
        border-color: white;
        border-width: 15px 15px 15px 15px;
        -moz-border-image: url(../graphic/flourish.png) 57 52 61 53 stretch;
        -webkit-border-image: url(../graphic/flourish.png) 57 52 61 53 stretch;
        -o-border-image: url(../graphic/flourish.png) 57 52 61 53 stretch;
        border-image: url(../graphic/flourish.png) 57 52 61 53 fill stretch;
        cursor: pointer;
    }


.photobox.left{overflow:hidden; height:100%; width:100%;margin:auto; position: relative;text-align: center;
}
.photobox.right{overflow:hidden; height:100%; width:100%;margin:auto;position: relative;text-align: center; padding: 20px 0px 0px 0px;}



.photobox.left:hover img {width:70%; height: 45vh; margin: auto; -webkit-transition: all .3s ;
        -moz-transition: all .3s ;
        -ms-transition: all .3s ;
        -o-transition: all .3s ;
        transition: all .3s ;

    }

    .photobox.right:hover img {width:70%; height: 60%; margin: auto; -webkit-transition: all .3s ;
        -moz-transition: all .3s ;
        -ms-transition: all .3s ;
        -o-transition: all .3s ;
        transition: all .3s ;

    }


    .sidenav a {
        padding: 5px 2px 0 0;
        margin:12px 0 3px 0;
        text-decoration: none;
        font-size: 25px;
        color: #FFFFFF;
        display: block;
        box-shadow: 0 0 9px 4px black;
        transition: 0.3s;
        top:-18px;

    }
    .sidenav

    {
        height: 197px;
        width: 0;
        position: fixed;
        z-index: 5;
        top: 36px;
        background: rgba(30, 30, 30, 0.5);
        left:0;
        padding: 31px 0px 8px 0px;
        float:left;
        overflow: hidden;
        text-align:right ;
        transition: 0.5s;
        margin:19px 0px;

    }

#services {
    display: flex;
    background: #1e1e1e;
    padding-bottom: 80px;
    flex-direction: row;
    align-items: center;
    font-size: 1.5em;
    justify-content: center;
    padding: 0 0px 20px 0px;
    z-index: 3;
    position: relative;
    font-family: "High Tower Text",sans-serif;
    box-shadow: 0px 10px 24px 4px #1e1e1e;

}



@media screen and (max-width:1500px){





    #desk-nav ul{
        display: none;
    }

    #skills{
        position: relative;
        z-index: 10;
        overflow: hidden;
        padding-bottom: 20px;
    }

    .wowWrap li:last-child {
        display:block;
        width:100%;
        margin:5px 0;
        font-size: larger;
        text-align:center;
        color:white;
        font-family: "Lucida Handwriting",sans-serif;

    }
    #con-bottom{
        display:none;
    }



}






@media screen and (min-width:1100px) {




    #contact label {
        padding-left: 0%;
        padding-bottom: 2%;
        display: block;
        text-align: left;
        font-size: 22px;
        color: rgba(5, 5, 5, 1.6);
        font-family: "Lucida Handwriting",sans-serif;
    }

    #message label {
        padding-left: 8%;
        display: block;
        font-size: 22px;
        font-family: "Lucida Handwriting",sans-serif;
    }
    #email label {

        font-size: 22px;

    }

    #portfolio:hover .image {
        opacity: 0.3;
    }

    #portfolio:hover .middle {
        opacity: 1;
    }


   .text{

        font-family: "High Tower Text",sans-serif;
        color: white;
        font-size: 30px;
        position: absolute;
    }
    .middle {
        transition: .5s ease;
        opacity: 0;
        top: 43%;
        left: 18%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        position: absolute;
    }

    #contact {
        width: 100%;
        background: #edeeef;
        margin: 0;
        padding-bottom: 0;
        display: inline-block;
        font-family: "Lucida Handwriting",sans-serif;
        z-index: 1;
        position: relative;
        box-shadow: 0px 0px 25px 10px white;

    }
    #port-res {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        outline-style: auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: #edeeef;
        padding: 0 0 0 0;
        width: 100%;
        z-index: 3;
        position: relative;
        box-shadow: 0px 0px 30px 15px #1e1e1e;
    }


    #portfolio {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background: #edeeef;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 90%;
        padding: 0 0;
        position: relative;
        margin: auto;



    }

    #portfolio2 {

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background: #edeeef;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 90%;
        padding: 0 0;
        position: relative;
        margin: auto;

    }



    .photobox.left{overflow:hidden; height:100%; width:100%;margin:auto; position: relative;text-align: center;
    }
    .photobox.right{overflow:hidden; height:100%; width:100%;margin:auto;position: relative;text-align: center;


    }
    .photobox.left img {
        width:78%;
        height: 90%;
        display: flex;
        margin:auto;
        outline-style: double;
        outline-color: lightgray;
        -webkit-transition: all .3s ;
        -moz-transition: all .3s ;
        -ms-transition: all .3s ;
        -o-transition: all .3s ;
        transition: all .3s ;
        border-style: outset;
        border-color: white;
        border-width: 35px 30px 35px 30px;
        -moz-border-image: url(../graphic/flourish.png) 57 52 61 53 stretch;
        -webkit-border-image: url(../graphic/flourish.png) 57 52 61 53 stretch;
        -o-border-image: url(../graphic/flourish.png) 57 52 61 53 stretch;
        border-image: url(../graphic/flourish.png) 57 52 61 53 fill stretch;

    }

    .photobox.right img {
        width:45%;
        height: 90%;
        display: flex;
        margin:auto;
        outline-style: double;
        outline-color: lightgray;
        -webkit-transition: all .3s ;
        -moz-transition: all .3s ;
        -ms-transition: all .3s ;
        -o-transition: all .3s ;
        transition: all .3s ;
        border-style: outset;
        border-color: white;
        border-width: 35px 30px 35px 30px;
        -moz-border-image: url(../graphic/flourish.png) 57 52 61 53 stretch;
        -webkit-border-image: url(../graphic/flourish.png) 57 52 61 53 stretch;
        -o-border-image: url(../graphic/flourish.png) 57 52 61 53 stretch;
        border-image: url(../graphic/flourish.png) 57 52 61 53 fill stretch;

    }
    .photobox.left:hover img {width:93%; height: 100%; margin: auto; -webkit-transition: all .3s ;
        -moz-transition: all .3s ;
        -ms-transition: all .3s ;
        -o-transition: all .3s ;
        transition: all .3s ;

    }

    .photobox.right:hover img {width :55%; height: 95%; margin: auto; -webkit-transition: all .3s ;
        -moz-transition: all .3s ;
        -ms-transition: all .3s ;
        -o-transition: all .3s ;
        transition: all .3s ;

    }

    #desk-nav ul {
        list-style-type: none;
        padding: 0;
        margin-right: 10px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        font-weight: bold;
    }


    #desk-nav svg {
        width: 20px;
        height: 20px;
        padding-right: 20px;
        margin-left: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    #desk-nav svg polygon {
        opacity: .6;
    }

    #desk-nav li a {
        position: relative;
        color: #EDEEEF;
        text-decoration: none;
        letter-spacing: 1.2px;
        padding: 17px 10px;
        opacity: .75;
        margin: 0px 10px;
        font-family: initial,sans-serif;
        letter-spacing: 3px;
        font-weight: lighter;
        text-transform: uppercase;
        font-size: 10.5px;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }

    #desk-nav a:hover {
        color: #606470;
    }

    #header {
        height: 80vh;
    }

    #header svg {
        width: 27px;
        height: 35px;
    }

    #header .divider {
        width: 50%;
    }

    #mobile-hero {
        font-size: 2em;
        font-weight: lighter;
        font-family: "Baskerville Old Face",sans-serif;
        color: #edeeef;
        opacity: .9;
    }

    #quote h2 {
        width: 50%;
        font-weight: 200;
        font-size: 1.67em;
        font-family:SimSun,sans-serif;
        opacity: .9;
    }

    #quote p {
        padding-bottom: 80px;
        font-family:"Bell MT",sans-serif;
        font-weight: 200;
        opacity: .9;
    }


    #about-me h2 {
        padding-top: 80px;
        font-size: 1.67em;
        text-align: center;
        font-family: initial,sans-serif;
    }

    #about-me p {
        width: 50%;
        line-height: 140%;
        text-align: center;
        padding-bottom: 50px;
        font-size: 18px;
        font-family: monospace;
    }

    #about-me img {
        width: 35%;
        padding-bottom: 0px;
        display: flex;
    }


    #service-title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background: #1e1e1e;
        padding-top: 0px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-bottom: 0px;
        flex-direction: column;
        font-family: "Baskerville Old Face",sans-serif;
        z-index:10;
        box-shadow: 0px -14px 15px 5px #1e1e1e;
    }

    #service-title h2 {
        text-align: center;
        font-family: "Baskerville Old Face",sans-serif;
        font-size: 3em;
        color:white;

    }

    #service-title svg {
        width: 30%;
        margin-bottom: 30px;
    }

    #service-title svg .cls-1 {
        fill: white;
    }

    #services {
        display: flex;
        background: #edeeef;
        padding-bottom: 80px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 0px 80px 100px;
        z-index: 3;
        position: relative;
        font-family: "High Tower Text",sans-serif;
    }

    #web-writing, #ui-photo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        height: 200px;
        flex-direction: row;
    }

    #web, #write, #ui, #photo {
        flex-direction: column;
        padding: 50px;
        top:100px;
    }

    #web-writing img {
        width: 85px;
        padding-bottom: 20px;
    }

    #ui-photo img {
        width: 85px;
        padding-bottom: 20px;
    }

    #services div p {
        margin-bottom: 0;
        text-align: center;
        letter-spacing: .35px;
        margin-top: 20px;
        font-size: 1.5em;
        font-weight: 400;
        font-family: "Baskerville Old Face",sans-serif;
        color: #FFFFFF;
    }


    #port-res {
        padding: 50px 0px;
    }

    #portfolio, #portfolio2 {
        padding: 60px 45px;
    }


    div#contact {
        clear: both;
    }

    #contact h1 {
        padding-left: 30%;
        padding-top: 2%;
        font-size: 2.3em;
        font-family: "Lucida Handwriting",sans-serif;
    }
    #con-left {
        display: inline-block;
        float: left;
        width: 45%;
        background: #edeeef;
        font-family: 'source sans pro', open-sans;
    }


    #submit {
        font-size: 1em;
    }

    div#contact {
        display: inline-block;
        background: #edeeef;
    }

    form {
        padding-top: 2.5%;
        float: right;
        width: 55%;
        background: #edeeef;
        display: inline-block;
    }



    #con-left {
        display: inline-block;
        float: left;
        width: 45%;
        background: #edeeef;
        font-family: 'source sans pro', open-sans;
    }


    #submit {
        float: left;
        margin: 4% 8%;
        font-size: .9em;
    }

    #name input {
        width: 50%;
    }

    #email input {
        width: 60%;
    }
    #subject input {


        width: 70%

    }

    #message input {

        width: 100%;


    }

    #submit input[type=submit] {
        padding: 5% 25%;
        margin: auto;
        text-align: center;
        cursor: pointer;
    }
    #services {
        display: flex;
        background: #1e1e1e;
        padding-bottom: 80px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 100px 80px 100px;
        z-index: 3;
        position: relative;
        font-family: "High Tower Text",sans-serif;
        box-shadow: 0px 10px 24px 4px #1e1e1e;
    }

}

#about-me img {
    width: 100%;
    display: flex;
}

#specialties h2 {
    padding: 1vh;
}


.wowWrap li:nth-child(1) {
    display:block;
    width:100%;
    margin:5px 0;
    font-size: larger;
    text-align:center;
    color:white;
    font-family: "Lucida Handwriting",sans-serif;

}


.container .button .title {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
}

#thx {
    position: absolute;

    width: 100%;
    height: 100%;

}

.title {

    position: absolute;
    left: 85%;
    top: 200px;
    max-height: 100%;
    height: 10%;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    z-index: 1;
    cursor: pointer;
    transition: top .5s ease;
}




.title:hover {
    top: 110px;

}

.button {
    display:flex;
    top:90% ;
    left:50% ;
    font-size: 30px;
    text-align: center;
    opacity: 0;
    z-index: 100;
    cursor: pointer;
    text-transform: uppercase;
    transition: opacity .35s ease;
}

.button a {
    width: 100%;
    text-transform: uppercase;
    padding: 12px 48px;
    text-align: center;
    color: black;
    border: solid 2px black;
    z-index: 100;
}



#footer-media {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #1e1e1e;
    z-index: 1;
    position: relative;

    box-shadow: 0px -12px 20px 10px #1e1e1e;
}

